#### 3. 문제를 풀며 빠르게 익숙해지는 파이썬 기본 프로그래밍3

##### Exercise 23. 조건문
* 사용자로부터 두 개의 숫자를 입력 받은 후 큰 숫자를 화면에 출력하세요.

In [1]:
su1 = int(input('첫번째 숫자 입력 : '))
su2 = int(input('두번째 숫자 입력 : '))

if su1 > su2:
    print(su1)
else:
    print(su2)

첫번째 숫자 입력 : 47
두번째 숫자 입력 : 88
88

##### Exercise 24. 조건문
* 사용자로부터 입력 받은 숫자가 홀수인지 짝수인지 출력하세요.

In [3]:
num = int(input('정수 입력 : '))

if num % 2 == 0:
    print('입력받은 ', num, ' 은(는) 짝수입니다.')
else:
    print('입력받은 ', num, ' 은(는) 홀수입니다.')

정수 입력 : 68
입력받은  68  은(는) 짝수입니다.

##### Exercise 25. 반복문
* 1 ~ 10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하세요.

In [4]:
sum = 0     # 1 ~ 10까지 더한 값을 저장할 변수

for i in range(1, 11):
    sum += i           # sum = sum + i
print('1 ~ 10 까지의 합 :', sum)

1 ~ 10 까지의 합 : 55

##### Exercise 26.  조건문
* 사용자로부터 세 개의 숫자를 입력 받은 후 가장 작은 숫자를 출력하세요.

In [6]:
data1 = int(input('첫번째 숫자 입력 : '))
data2 = int(input('두번째 숫자 입력 : '))
data3 = int(input('세번째 숫자 입력 : '))

if data1 < data2 and data1 < data3:
    print('가장 작은 수 :', data1)
elif data2 < data3 and data2 < data1:
    print('가장 작은 수 :', data2)
else:
    print('가장 작은 수 :', data3)

첫번째 숫자 입력 : 45
두번째 숫자 입력 : 12
세번째 숫자 입력 : 99
가장 작은 수 : 12

##### Exercise 27. 반복문
* 사용자로부터 2 ~ 9 사이의 숫자를 입력 받은 후, 해당 숫자에 대한 구구단을 출력하세요.

In [7]:
dan = int(input('구구단의 단을 입력 : '))

for i in range(1, 10):
    print(dan, " * ", i, " = ", (dan * i))

구구단의 단을 입력 : 7
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63

##### Exercise 28.  반복문과 문자열 다루기 (split)
* 사용자로부터 , 로 구분된 여러 이름을 입력받아서, 한 줄에 하나씩 이름을 출력하세요<br>
  - 사용자 입력: Dave,David,Andy,Arthor
  - 출력 예:  <br>
    Dave <br>
    David <br>
    Andy <br>
    Arthor <br>

In [8]:
str = input()

str_list = str.split(',')

for i in str_list:
    print(i)

Dave,David,Andy,Arthor
Dave
David
Andy
Arthor

##### Exercise 29. 조건문
* 사용자로부터 점수를 입력 받은 후 등급을 출력하라.
  - (A: 100 ~ 81, B: 80 ~ 61, C: 60 ~ 0)

In [11]:
num1 = int(input('점수 입력 : '))

if num1 >= 81 and num1 <= 100:
    print('A')
elif num1 >= 61 and num1 <= 80:
    print('B')
else:
    print('C')

점수 입력 : 55
C

##### Exercise 30.  반복문과 문자열 다루기 (split)
* 사용자로부터 [이름1],[이름2],[이름3] 과 같은 형식으로 데이터를 입력받아서, 한 줄에 하나씩 이름을 출력하세요<br>
  - 사용자 입력: [Dave],[David],[Andy],[Arthor]
  - 출력 예:  <br>
    Dave <br>
    David <br>
    Andy <br>
    Arthor <br>

In [14]:
str1 = input('사용자의 이름을 입력 : ')

for i in str1.split(','):
    print(i[1 : -1])

사용자의 이름을 입력 : [Dave],[David],[Andy],[Arthor]
Dave
David
Andy
Arthor

##### Exercise 31. 반복문과 조건문
* 1부터 30까지의 숫자 중 3의 배수만 출력하세요.

In [15]:
for data in range(1, 31):
    if data % 3 == 0:
        print(data)

3
6
9
12
15
18
21
24
27
30

##### Exercise 32. 데이터 구조 (리스트)
* 사용자로부터 주민등록번호를 입력받아, 성별을 '남성' 또는 '여성'으로 출력하세요.
  - 주민등록번호 뒷자리 맨 앞자리는 성별을 나타냄
  - 예) 800001-1231231 주민번호를 입력받으면 1을 출력하면 됨
  - 1이면 남성, 2이면 여성을 출력하면 됨 (최근 아이들은 3과 4를 사용하지만 이 경우는 고려하지 않기로 함)

In [17]:
num2 = input()

if num2[7] == '1':
    print('남성')
else:
    print('여성')

801101-2238476
여성

##### Exercise 33. 반복문 (while)
* 1부터 100까지 숫자를 모두 더한 값을 출력하세요.
  - 단 while 구문을 사용해서 작성하세요.

In [18]:
su = 1   # while 문에서의 초기식
hap = 0  # 1 ~ 100 까지의 수를 더하여 저장하는 변수

while su <= 100:
    hap = hap + su
    su = su + 1

print('1 ~ 100 까지의 합 :', hap)

1 ~ 100 까지의 합 : 5050

##### Exercise 34. 반복문 (while)
* 사용자로부터 4자리의 숫자로 구성된 데이터를 입력받아서 
  + 비밀번호와 같으면 '비밀번호가 맞습니다.'를 출력하고 종료하세요. 
  + 비밀번호와 다르면 '비밀번호가 틀렸습니다.'를 출력하고 다시 사용자로부터 데이터를 입력받으세요.
    - 비밀번호는 4312 입니다.

In [20]:
password = input('비밀번호 입력 : ')

while password != '4312':
    print('비밀번호가 틀렸습니다.')
    password = input('비밀번호 입력 : ')

print('비밀번호가 맞습니다.')

비밀번호 입력 : 1234
비밀번호가 틀렸습니다.
비밀번호 입력 : 5516
비밀번호가 틀렸습니다.
비밀번호 입력 : 4312
비밀번호가 맞습니다.

##### Exercise 35. 데이터 구조와 반복문 (리스트)
* 다음 리스트 변수에서 음수 데이터를 삭제하고, 양수만 가진 리스트 변수로 만들고, 해당 변수를 출력하세요.

```python
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
```

In [21]:
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
plus_list = list()

for i in num_list:
    if i >= 0:
        plus_list.append(i)
        
print(plus_list)

[0, 31, 22, 33]

##### Exercise 36. 문자열 다루기 (문자열 인덱싱)
* letters 라는 변수에 사용자로부터 문자열을 입력받아서 문자 n 이 들어있는지를 출력하라 ( n 이 들어 있으면 0, 안들어있으면 -1을 출력하라)

In [23]:
letters = input('문자열 입력 : ')

if 'n' in letters:
    print(0)
else:
    print(-1)

문자열 입력 : snap
0

##### Exercise 37.  데이터 구조와 반복문 (리스트)
* 다음 리스트에 있는 데이터의 길이를 한 라인에 하나씩 출력하세요.

```python
list_data = ["fun-coding", "Dave", "Linux", "Python", "javascript", "front-end", "back-end", "dataengineering"]
```

In [24]:
list_data = ["fun-coding", "Dave", "Linux", "Python", "javascript", "front-end", "back-end", "dataengineering"]

for i in list_data:
    print(len(i))

10
4
5
6
10
9
8
15

##### Exercise 38. 데이터 구조와 반복문 (리스트)
* 다음 리스트에 있는 숫자를 역 방향으로 출력하세요.
  - 단, 리스트에 있는 숫자들은 한 라인에 하나씩 출력하세요.
```python
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```
* 실행 예:<br>
10 <br>
9 <br>
8 <br>
7 <br>
6 <br>
5 <br>
4 <br>
3 <br>
2 <br>
1

In [26]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

data.reverse()

for i in data:
    print(i)

10
9
8
7
6
5
4
3
2
1

##### Exercise 39. 문자열 다루기 (문자열 인덱싱)
* letters 라는 변수에 사용자로부터 문자열을 입력받아서 문자 n 이 들어있는지를 출력하라 
  - n 이 들어 있으면 'n 이 들어있습니다.', 안들어있으면 'n 이 안들어있습니다.' 를 출력하라

In [27]:
letters = input('문자열 입력 : ')

if 'n' in letters:
    print('n 이 들어 있습니다.')
else:
    print('n 이 안들어있습니다')

문자열 입력 : sniper
n 이 들어 있습니다.

##### Exercise 40. 데이터 구조 (리스트), 반복문, 문자열 다루기
* 다음과 같이 파일 이름(확장자 포함) 저장하고 있는 리스트가 있을 때 확장자를 제거하고 파일 이름만 출력하세요.

```python
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']
```

In [30]:
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']

for filename in filelist:
    filelist_item = filename.split('.')
    print(filelist_item[0])

exercise01
exercise02
exercise03
exercise04
exercise05

##### Exercise 41. 문자열 다루기 (문자열 인덱싱)와 조건문
* 주민등록번호의 뒷 자리 7자리 중 두번째부터 세번째는 출생 지역 코드입니다.
* 다음 표를 참조하여 사용자로부터 주민 등록 번호를 입력 받은 후 출생지를 출력하세요.
<table>
<thead>
<tr>
<th>지역 코드</th>
<th>출생 지역</th>
</tr>
</thead>
<tbody>
<tr>
<td>00 ~ 08</td>
<td>서울</td>
</tr>
<tr>
<td>09 ~ 12</td>
<td>부산</td>
</tr>
</tbody>
</table>

In [32]:
data = "801128-1111231"

location = int(data[8:10])

if location >= 0 and location <= 8:
    print('서울')
elif location >= 9 and location <= 12:
    print('부산')

부산

##### Exercise 42. 데이터 구조 (리스트), 반복문, 조건문, 문자열 다루기
* 파일 이름이 다음과 같은 리스트에 저장되어 있을 때 확장자가 .txt 인 파일에 대한 리스트를 출력하라

```python
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']
```

In [33]:
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']

for filename in filelist:
    if filename.split('.')[1] == 'txt':
        print(filename)

exercise03.txt

##### Exercise 43. 문자열 다루기와 조건문
* prices 변수에 100 ~ 999 달러 까지 입력될 때, 해당 값을 원 화로 바꿔서 계산하세요.

```python
prices = '100 달러'
```

* 환율은 다음과 같음
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
</tbody>
</table>

출력: <br>
111200 원

In [36]:
price = input('환전 금액 : ')

if price[4:] == '달러':
    print(int(price[:3]) * 1112, '원')

환전 금액 : 100 달러
111200 원

##### Exercise 44. 문자열 다루기와 조건문
* 사용자로부터 달러 또는 위안 금액을 입력받은 후 이를 원으로 바꿔서 계산하세요.
  - 사용자는 100 ~ 999 달러, 100 ~ 999 위안 까지 입력 가능하고, 각 금액과 통화명 사이에 공백을 넣어 입력하기로 합니다.
  - 각 통화별 환율은 다음과 같습니다.   
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
<tr>
<td>위안</td>
<td>171</td>
</tr>
</tbody>
</table>


출력: <br>
111200 원

In [2]:
price = input('환전 금액 : ')

if price[4:] == '달러':
    print(int(price[:3]) * 1112, '원')
elif price[4:] == '위안':
    print(int(price[:3]) * 171, '원')

환전 금액 : 100 달러
111200 원

##### Exercise 45. 문자열 다루기, 조건문, 데이터 구조 (dictionary)
* 다음 통화별 환율을 통화단위와 원화 환율을 가진 딕셔너리로 만들고 사용자로부터 달러, 엔, 또는 위안 금액을 입력받은 후 이를 원으로 바꿔서 계산하세요.
  - 사용자는 100 ~ 999 달러, 위안, 또는 엔 과 같이 금액과 통화명 사이에 공백을 넣어 입력하기로 합니다.
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
<tr>
<td>위안</td>
<td>171</td>
</tr>
<tr>
<td>엔</td>
<td>1010</td>
</tr>
</tbody>
</table>

In [43]:
exchange = {'달러':1112, '위안':171, '엔':1010}

money = input('환전 금액 : ')

for item in exchange.keys():
    if(money[4:] == item):
        print(int(money[:3]) * exchange[item], '원')

환전 금액 : 100 엔
101000 원

##### Exercise 46. 이중 반복문
* 구구단을 2단부터 9단까지 다음과 같이 출력하세요
  - 출력 예
<pre>
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
.
.
.
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
</pre>

In [44]:
for dan in range(2, 10):
    print('*** ', dan, '단 ***')
    for su in range(1, 10):
        print(dan, ' * ', su, ' = ', (dan * su))
    print()

***  2 단 ***
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

***  3 단 ***
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27

***  4 단 ***
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36

***  5 단 ***
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45

***  6 단 ***
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54

***  7 단 ***
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63

***  8 단 ***
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72

***  9 단 ***
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

##### Exercise 47. 이중 반복문과 조건문
* 구구단을 2단부터 9단까지 출력하되, 계산 값이 짝수인 경우에만 출력하세요
  - 예: 3 X 3 = 9 에서 9는 홀수이므로 출력하지 않는다.
  - 예: 2 X 4 = 8 에서 8은 짝수이므로 출력한다.
  - 최종 출력 예
<pre>
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72
</pre>

In [45]:
for dan in range(2, 10):
    print('*** ', dan, '단 ***')
    for su in range(1, 10):
        if (dan * su) % 2 == 0:
            print(dan, ' * ', su, ' = ', (dan * su))
    print()

***  2 단 ***
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

***  3 단 ***
3  *  2  =  6
3  *  4  =  12
3  *  6  =  18
3  *  8  =  24

***  4 단 ***
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36

***  5 단 ***
5  *  2  =  10
5  *  4  =  20
5  *  6  =  30
5  *  8  =  40

***  6 단 ***
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54

***  7 단 ***
7  *  2  =  14
7  *  4  =  28
7  *  6  =  42
7  *  8  =  56

***  8 단 ***
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72

***  9 단 ***
9  *  2  =  18
9  *  4  =  36
9  *  6  =  54
9  *  8  =  72

##### Exercise 48. 이중 반복문과 데이터 구조 (리스트)
* 아파트 동호수를 다음과 같은 두 리스트 변수를 활용해서 출력하세요.
  - 단, 각 동과 동 사이에는 구분이 되도록 한 라인씩 띄워서 출력하세요

<pre>
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]
</pre>

  - 출력 예:
<pre>
6209동 101호
6209동 102호
6209동 103호
6209동 104호
</pre>
<pre>
6208동 101호
6208동 102호
6208동 103호
6208동 104호
</pre>
<pre>
6207동 101호
6207동 102호
6207동 103호
6207동 104호
</pre>

In [46]:
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]

for dong in dongs:
    for ho in hos:
        print(dong, ho)
    print()

6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호