#### 데이터 구조 - 리스트(list)
###### ※ 데이터 구조는 총 4가지
###### ※ 데이터 구조: 연관있는 데이터를 어떻게 컴퓨터로 효율적으로 다룰 수 있을까?

★ 리스트:<br>
    1. 여러가지 관계가 있는 데이터를 하나의 변수로 다루는 방법<br>
    2. 대괄호 안에 ,를 써서 데이터를 넣으면 되는 구조<br>
    예) my_data = [1, 2, 'hello', True]<br>
    3. 각 데이터는 인덱스로 다룰 수 있음

In [1]:
location = ['서울시', '부산시', '경기도', '인천시', '대구시', '부천시']

In [2]:
print(location[0])

서울시

In [3]:
print(location[1])

부산시

In [4]:
print(location[2])

경기도

In [6]:
print(location)

['서울시', '부산시', '경기도', '인천시', '대구시', '부천시']

In [7]:
# append('추가할 데이터'): 리스트에 데이터를 추가할 때 씀
# ==> 맨 뒤(인덱스)에 추가됨

In [8]:
location.append('진주시')

In [9]:
print(location)

['서울시', '부산시', '경기도', '인천시', '대구시', '부천시', '진주시']

In [10]:
print(location[-1])

진주시

In [11]:
# 특정 인덱스에 데이터를 추가하고 싶음
# 형식) list 이름.insert(인덱스번호, 추가할 데이터)

In [13]:
location.insert(3, '이천시')

In [14]:
print(location)

['서울시', '부산시', '경기도', '이천시', '인천시', '대구시', '부천시', '진주시']

In [15]:
# 슬라이싱도 가능
print(location[2 : 4])

['경기도', '이천시']

In [16]:
# 데이터를 삭제하고 싶으면
# remove() 함수 or del 명령어 입력

In [17]:
location.remove('이천시')

In [19]:
print(location) # 첫 번째 방법

['서울시', '부산시', '경기도', '인천시', '대구시', '부천시', '진주시']

In [20]:
del location[2]

In [21]:
print(location)

['서울시', '부산시', '인천시', '대구시', '부천시', '진주시']

In [25]:
# 비어있는 리스트를 만들어서 데이터를 연속적으로 저장하기
# 형삭) 리스트변수 = list()

In [27]:
data = list()
print(data) # 빈 배열 출력됨

[]

range() == >  반복해서 지정한 횟수까지 생성<br>
지정한 횟수는 리스트에 저장되지 않음

In [33]:
data = list(range(10)) # 0~9까지만 리스트에 저장
print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
data1 = list(range(11, 20))
print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
# range(시작, 끝, 증가폭)
data2 = list(range(1, 20, 2))
print(data2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [47]:
# range(시작, 끝, 음수) => 숫자가 감소함
data3 = list(range(19, 0, -2))
print(data3)

[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]