In [1]:
# 지금껏 썼던 list, tuple, range, string을 보면 공통점이 있다
# 모두 값이 연속적으로 들어있다는 특징이 있다
# 파이썬에선 이렇게 연속적으로 값이 들어있는 자료형을 sequence 자료형이라고 함
# sequence 자료형의 공통 기능

In [6]:
# 특정한 값이 있는가 확인
data = [10, 20, 30, 40, 50, 60, 70, 80] # list data
12 in data

False

In [7]:
100 in data

False

In [8]:
100 not in data

True

In [ ]:
# in 키워드는 시퀀스 객체에 있는지 여부를 묻는 키워드
# 있다면 True, 없으면 False를 반환함
# not in 키워드야 뭐 반대니까 알아서 잘 쓰시고 ^^

In [9]:
# 튜플 데이터
data2= (34, 39, 33, 71, 2)
71 in data2

True

In [12]:
# range 데이터
10 in range(10)

False

In [13]:
# string 데이터
'o' in 'Hello Python'

True

In [14]:
'튜' in '튜플'

True

In [ ]:
# sequence 객체를 연결하는 것도 가능
# sequence 객체1+객체2

In [16]:
data1 = [1, 2, 3, 4, 5]
data2 = [10, 20, 30, 40, 50]
data1 + data2

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [17]:
# 단 sequence 자료형 중에 range는 서로 연결 불가
# range 자료형은 리스트나 튜플로 변환해 연결 쌉가능
range(0, 10) + range(0, 10) # 타입 에러

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [18]:
# range 객체를 튜플로 바꿔서 연결하기
tuple(range(0, 10)) + tuple(range(0, 10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
# 시퀀스 객체는 반복이 가능함
# 형식) 시퀀스 객체 * 반복 횟수
seq = (10, 20, 30, 40)
seq * 4

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [22]:
# 시퀀스 객체는 인덱스 사용이 가능함
# 형식) 시퀀스 객체[인덱스] ==> 해당 시퀀스 객체의 특정 인덱스에 접근 가능
data5 = (38, 17, 92, 55, 74)
print(data5[2])

92

In [26]:
ran = range(0, 10, 2)
print(ran[3]) # ran = (0, 2, 4, 6, 8)

6